# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# Dependencies
node_modules/

# Build outputs
public/browser/
functions/lib/

# Angular
app/.angular/
app/out-tsc/

# Environment
.env
.env.*

# OS
.DS_Store

# IDE
.idea/
